@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #2d2d2d;

}
@theme {
  --breakpoint-sm: 290px;
  --breakpoint-mm: 375px;
  --breakpoint-lm: 425px;
  --breakpoint-t: 768px;
  --breakpoint-l: 1024px;
  --breakpoint-ll: 1440px;
  --breakpoint-k: 2560px;
  --breakpoint-my: 2700px;
}
