@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #2d2d2d;
  --mahroon: #ee4242;
  --yellow: #eddb1a;
  --green: #00f953;
  --lightmahroon: #ff0000c0;
  --lightgreen: #00f95334;
  --lightblue: #0064f934;
  --lightpink: #f900f134;
  --lightyellow: #f9ec0034;
  --blue: #0064f9;
  --pink: #f900f1;
  --yellow: #f9ec00;
  --transparent: #00000000;
}
@theme {
  --breakpoint-sm: 290px;
  --breakpoint-mm: 375px;
  --breakpoint-lm: 425px;
  --breakpoint-t: 768px;
  --breakpoint-l: 1024px;
  --breakpoint-ll: 1440px;
  --breakpoint-k: 2560px;
  --breakpoint-my: 2700px;
}
body {
  background-color: #000000;
}
.removescrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.removescrollbar::-webkit-scrollbar {
  display: none;
}
